p, h1, h2, h3, h4 {
  margin: 0;
}

body {
  background-color: #ecf0f1;
  padding: 40px;
  font-weight: 100;
  font-family: "Roboto", Helvetica, sans-serif;
}

#main {
  background-color: white;
  padding: 40px;
  min-height: 265px;
  border-bottom: 5px solid #2c3e50;
}

.label {
  padding: 7px 15px 7px 15px;
  display: inline-block;
  font-size: 2em;
  font-weight: 100;
}

.text-dynamic {
  font-size: 2em;
  font-weight: 400;
}

.note-block {
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.note-alt {
  font-size: 0.5em;
}

.note-main {
  font-size: 1.5em;
  display: block;
}

.onscreen-key {
  width: 6.6%;
  box-shadow:0px 0px 0px 2px #ecf0f1 inset;
  height: 150px;
  float: left;
  border-radius: 5px;
}

.key-white {
  background-color: white;
}

.key-black {
  position: absolute;
  background-color: black;
  top: 0px;
  width: 4%;
  height: 90px;
}

#onscreen-keyboard {
  position: relative;
}

#keyboard-area {
  padding: 40px;
}